<!DOCTYPE html>
<html lang="zh-hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Ban ???</title>
	<link rel="stylesheet" href="/gw-console/main.css">
</head>
<body>
	<h1>可能是这样的或者那样的原因，你已经被禁用许愿墙</h1>
	<p>可能是如下的原因：</p>
	<ul style="margin-left: 2em; ">
		<li>你领取了太多愿望 故意扰乱秩序</li>
		<li>骚扰他人</li>
		<li>等等</li>
	</ul>
</body>
</html>