<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Gw-Background</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<style>

</style>
<body>
	<h1 before-intro class="title">Gw Console</h1>
	<p intro>Cookie 管理</p>
		

	<a class="user" href="/api/system/clear-cookie">
		<span class="sex">
			C
		</span>
		<span class="nickname">清空当前的 Cookie</span>

		<p class="_id">/api/system/clear-cookie</p>
	</a>

	<a class="user" href="/api/system/user-select">
		<span class="sex">
			S
		</span>
		<span class="nickname">选择当前的 Cookie</span>

		<p class="_id">/api/system/user-select</p>
	</a>

	<a class="user" href="/api/system/who-i-am">
		<span class="sex">
			W
		</span>
		<span class="nickname">查看当前的 Cookie</span>

		<p class="_id">/api/system/who-i-am</p>
	</a>

	<div class="btns">
		<a href="/"><button>
			回到应用
		</button></a>
	</div>
</body>
</html>