<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>我是谁啊?</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<h1 class="title">Who-I-Am</h1>

	<ul class="users">
		<div class="user">
			<span class="sex">
				<%= ['未设置', '男', '女'][user.sex] %>
			</span>
			<span class="nickname"><%= user.nickname %></span>

			<p class="_id">
				<%= user._id %>
			</p>
		</div>
	</ul>


	<div class="btns">
		<a href="/"><button>
			回到应用
		</button></a>
		<button onclick="history.back()">
			返回上一页
		</button>
	</div>
</body>
</html>